#menu{
    position: relative;
    margin-left: 40px;
}
.menu-item{
    margin-top: 20px;
}
.link{
    text-decoration: none;
    color: var(--menu-link-color);
    font-weight: bold;
    font-size: 20px;
}
.link:hover{
    text-decoration: underline;
}