.regular{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: var(--r-marker-border);
    background-color: var(--r-marker-color);
}
.hight{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: var(--h-marker-border);
    background-color: var(--red);
}
.medium{
    font-weight: 600;
    color: var(--dark);
    margin-left: 25px;
}