.pagination-area{
    position: relative;
    width: 80%;
    padding: 0 20px;
}
.pagination-limit-area{
    position: relative;
    width:  20%;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
}
.pagination-container{
    position: relative;
    margin: 20px 0;
}
.pagination-button{
    position: relative;
    margin: 0 5px;
}