table{
    position: relative;
    width: 100%;
}
td{
    padding: 10px;
    text-align: center;
    box-shadow: 1px 1px 3px #ccc;
    text-wrap: normal;
}
th{
    padding: 10px;
    text-align: center;
    box-shadow: 1px 1px 3px #ccc;
    background-color: #1e2129;
    color: #fff;
    text-wrap: normal;
}
.table-wrapper{
    position: relative;
    width:  100%;
}