table{
    position: relative;
    width: 100%;
}
td{
    padding: 10px;
    text-align: center;
    box-shadow: var(--light-shadow);
    text-wrap: normal;
}
th{
    padding: 10px;
    text-align: center;
    box-shadow: var(--light-shadow);
    background-color: var(--almost-blk);
    color: var(--wht);
    text-wrap: normal;
}
.table-wrapper{
    position: relative;
    width:  100%;
}